
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Contentmart.in smoke test suite" >

    <!--Credentials: -->

    <parameter name="clientLoginParam"     value="debeers1989@gmail.com"         />
    <parameter name="clientPasswordParam"  value="roottoor"                     />
    <parameter name="writerLoginParam"     value="debeers@bigmir.net"          />
    <parameter name="writerPasswordParam"  value="roottoor"                   />
    <parameter name="mailbox"              value="contentmartmai@gmail.com"  />
    <parameter name="mailboxPassword"      value="roottoor"                 />

    <!--Credentials: END -->



    <!--Properties: -->

        <parameter name = "URL"  value="https://dev.contentmart.in/"/>

    <!--Properties: END -->


        <test name="Fast_And_Furious_Smoke_1.0">
            <classes>


                <class name = "Tests.CreateNewUserTest"/>

                <!-- To fix::
                                <class name = "Tests.MyProfile.EditPortfolioItem"/>
                                <class name = "Tests.ExsistOfFile.ExsistFilesInOrder"/>
                                <class name = "Tests.AccountSettings.ClientSighnUploading"/>
                                <class name = "Tests.StatusActions.InProgress.CancelWithoutSendResultFromWriterSide"/>
                                <class name = "Tests.AccountSettings.ChangeClientDetails"/>
                                <class name = "Tests.EditProfile.WriterChangingPearsonalData"/>
                                <class name = "Tests.Messages.SendTextMessages"/>
                                <class name = "Tests.AccountSettings.ChangeWriterDetails"/>

                                <class name = "Tests.CreateNewOrderActions.CreateNewOrderAndSaveAsDraft"/>
                                <class name = "Tests.CreateNewOrderActions.PublishOrderFromTheDraft"/>
                                <class name = "Tests.CreateNewOrderActions.CancelOrderFromCreationPage"/>

                                <class name = "Tests.EditProfile.ClientAvatarUploading"/>
                                <class name = "Tests.EditProfile.ClientChangingPearsonalData"/>
                                <class name = "Tests.EditProfile.LanguagesExpertisesCategoriesAdd"/>
                                <class name = "Tests.EditProfile.WriterAvatarUploading"/>

                                <class name = "Tests.MyProfile.AddPortfolioItem"/>
                                <class name = "Tests.MyProfile.EmailNotificationsSaving"/>
                                <class name = "Tests.MyProfile.DeletePortfolioItem"/>
                                <class name = "Tests.OrdersActions.AcceptWriterText"/>
                                <class name = "Tests.OrdersActions.ReassignOrder"/>
                                <class name = "Tests.OrdersActions.DeclineTextFromClientSide"/>
                                <class name = "Tests.OrdersActions.SendResultToClient"/>
                                <class name = "Tests.RegistrationAndLogin.ClientAndWriterLoginLogOutTest"/>

                                <class name = "Tests.StatusActions.Awarded.StartWorking"/>
                                <class name = "Tests.StatusActions.Awarded.CancelChosenWordsmith"/>
                                <class name = "Tests.StatusActions.Awarded.CloneOrderFromAwardedAndPublishIt"/>

                                <class name = "Tests.StatusActions.ProposalSent.SetAsWinner"/>
                                <class name = "Tests.StatusActions.ProposalSent.CancelFromWriterSideAfterBid"/>

                                <class name = "Tests.StatusActions.Published.BidOnOrder"/>
                                <class name = "Tests.StatusActions.Published.CloseNewOrderAfter                              <class name = "Tests.StatusActions.Published.EditAndThanPublishOrder"/>
                                <class name = "Tests.StatusActions.CloneTheOrder"/>

                                <class name = "Tests.StopWords.StopWordsInOrderComposing"/>
                                <class name = "Tests.StopWords.StopWordsInLeaveAnOffer"/>

                                <class name = "Tests.UploadingFiles.UploadingFilesToMessages"/>
                                <class name = "Tests.UploadingFiles.UploadingFilesToOrder"/>
                                <class name = "Tests.UploadingFiles.UploadingFilesToOrderResult"/>

                                <!- To fix::

                                <class name = "Tests.ExsistOfFile.ExistFileInMessages"/> // Just God know...
                                <class name = "Tests.StatusActions.InProgress.SendResultFromSaveAsDraft"/> // Firefox bug
                                <class name = "Tests.DBtests.InsertionOfNewUserToDB"/>
                                <class name = "Tests.Balance.BlockingMoney"/>
                                <class name = "Tests.Balance.TransferMoney"/>

                                     -->
            </classes>
        </test>

</suite>